# Byte-compiled / optimized / DLL files
__pycache__/

# Distribution / packaging
.Python
build/
dist/
downloads/

# Environments
.env
.venv

# Custom preference
/inputs
.vscode/

# MacOS stuff
.DS_Store